# External API Configurations
# Twelve Data API Base URL
TWELVE_DATA_BASE_URL=https://twelve-data1.p.rapidapi.com/
# RapidAPI Key
RapidAPI_Key=
# RapidAPI Host
RapidAPI_Host=
# Rapid Api timeout
TWELVE_DATA_API_TIMEOUT=

# RabbitMQ Configurations
# RabbitMQ Host
RABBITMQ_HOST=change_me
# RabbitMQ User
RABBITMQ_USER=change_me
# RabbitMQ Password
RABBITMQ_PASSWORD=change_me
